certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.4
django-bootstrap3==9.1.0
gunicorn==19.7.1
idna==2.6
matplotlib==2.1.1
numpy==1.14.0
pygal==2.4.0
pygal-maps-world==1.0.2
pygame==1.9.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
static3==0.7.0
urllib3==1.22
psycopg2>=2.6.1
